doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title CSS ART - Vintage VW Bug -
    body
       .base
            .whole
                .bug
                    .bug__whole__shadow
                    .bug__tire__shadow__ground
                    .bug__tire__shadow__ground
                    .bug__tire__shadow
                    .bug__tire__shadow
                    .bug__ex
                    .bug__handle__back
                    .bug__body__w
                    .bug__body__f
                        .bug__body__hood
                        .bug__body__hood2
                    .bug__body__b__back
                        .engineroom
                            .engine__lines
                                .engine__line
                                .engine__line
                                .engine__line
                                .engine__line
                                .engine__line
                                .engine__line
                        .window__back__w
                            .window__back__w__inner
                    .bug__body__b__top
                        .window__f
                            .window__f__inner
                            .window__f__h__inner
                            .window__f__stick
                            .window__f__stick
                            .window__f__headrest
                            .window__f__headrest__stick
                            .window__f__headrest__btm
                            .window__f__handle
                        .window__f__h
                        .window__b
                            .window__b__inner
                            .window__b__seat
                    .bug__longline
                    
                    .bug__door__line__back
                    .bug__door
                        .bug__door__line__right
                        .bug__door__line__left__btm
                        .bug__door__line__left__top
                        .bug__door__box
                        .bug__door__box
                    .bug__step__shadow
                    .bug__headlight
                    .bug__fender__f
                        .bug__fender__shadow
                    .bug__fender__b
                        .bug__fender__shadow
                        .bug__fender__shadow__box
                            .bug__fender__shadow__cir
                    .bug__taillight
                    .bug__fender__bb
                        .bug__fender__shadow
                        .bug__fender__shadow__box
                            .bug__fender__shadow__cir
                    .bug__fender__fb
                        .bug__fender__shadow
                        .bug__fender__shadow__box
                            .bug__fender__shadow__cir
                    .bug__handle
                        .bug__handle__shadow
                        .bug__handle__handle
                    .bug__tire
                        .bug__tire__white
                            .bug__tire__blue
                                .bug__tire__blue__dots
                                .bug__tire__wheel
                                    .bug__tire__wheel__logo
                    .bug__tire
                        .bug__tire__white
                            .bug__tire__blue
                                .bug__tire__blue__dots
                                .bug__tire__wheel
                                    .bug__tire__wheel__logo
                    
                        

                    .bug__step 
                    .bug__bumper__back
                    .bug__bumper__front